body {
    margin: 0;
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

* {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    text-align: center;
  }

.avatar {
    display: block;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;    
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}