body {
    margin: 0;
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

ul {
    padding: 0;
    margin-left: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2 {    
    margin: 0;
    text-align: center;
}

.name {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.avatar {
    display: block;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.main-footer,
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}